<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Movies - MovieWeb App</title>
</head>
<body>
    <h1>{{ user.name }}'s Favorite Movies</h1>
    <ul>
        {% for movie in movies %}
            <li>
                {{ movie.name }} ({{ movie.year }}) - {{ movie.rating }}
                <a href="/users/{{ user.user_id }}/update_movie/{{ movie.movie_id }}">Edit</a>
                <a href="/users/{{ user.user_id }}/delete_movie/{{ movie.movie_id }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="/users/{{ user.user_id }}/add_movie">Add Movie</a>
</body>
</html>